#extension-settings-global-emergency input[type=checkbox],
#extension-settings-global-block2 input[type=checkbox],
#edit-extension-settings-region-1-wrapper input[type=radio],
#edit-extension-settings-region-2-wrapper input[type=radio],
#edit-extension-settings-region-3-wrapper input[type=radio],
#edit-extension-settings-region-4-wrapper input[type=radio],
#edit-extension-settings-region-5-wrapper input[type=radio],
#edit-extension-settings-region-6-wrapper input[type=radio] {
  display:none;
}

#edit-regions-1-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-1-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 0;
  height: 186px;
  width: 152px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-1-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-1-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 421px;

}

#edit-regions-2-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-2-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -162px 0;
  height: 195px;
  width: 138px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-2-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-2-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -162px 421px;

}

#edit-regions-3-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-3-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -310px 0;
  height: 179px;
  width: 209px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-3-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-3-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -310px 421px;

}

#edit-regions-4-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-4-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 -222px;
  height: 199px;
  width: 178px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-4-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-4-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0px 199px;

}

#edit-regions-5-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-5-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -188px -280px;
  height: 141px;
  width: 184px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-5-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-5-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -188px -711px;

}

#edit-regions-6-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-6-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -382px -205px;
  height: 216px;
  width: 186px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-6-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-6-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -382px -636px;

}

#oregon-region .form-radios,
#extension-settings-global-emergency .form-checkboxes,
#extension-settings-global-block2 .form-checkboxes {
  position: relative;
  height: 400px;
  width: 510px;
}

#extension-settings-global-emergency .checkbox-label,
#extension-settings-global-block2 .checkbox-label,
#extension-settings-admin-settings .radio-label {
  text-indent: -9999em;
}

#edit-regions-1-wrapper,
#edit-extension-settings-region-1-wrapper {
  position: absolute;
  top: 0;
  left: 30px;
}

#edit-regions-2-wrapper,
#edit-extension-settings-region-2-wrapper {
  position: absolute;
  top: 42px;
  left: 163px;
}

#edit-regions-3-wrapper,
#edit-extension-settings-region-3-wrapper {
  position: absolute;
  top: 24px;
  left: 280px;
}

#edit-regions-4-wrapper,
#edit-extension-settings-region-4-wrapper {
  position: absolute;
  top: 178px;
  left: 0;
}

#edit-regions-5-wrapper,
#edit-extension-settings-region-5-wrapper{
  position: absolute;
  top: 236px;
  left: 144px;
}

#edit-regions-6-wrapper,
#edit-extension-settings-region-6-wrapper {
  position: absolute;
  top: 161px;
  left: 286px;
}

/*******Emergency Information Block*******/
.emergency-wrapper {
  position: relative;
  border: 1px solid #000;
  width: 600px;
  min-height: 52px;
  margin-left: 10px;
  background-color: #ffa200;
}

.site-type-0 .emergency-wrapper {
  width: 550px;
}

.emergency-info-label {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -16px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: sans-serif;
  color: #ffa200;
}

.emergency-info {
  margin: 7px 7px 7px 158px;
  word-wrap: break-word;
  color: #000;
}

.emergency-info p {
  margin: 0 0 5px 0;
}

.emergency-arrow {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  left: 114px;
  background-image: url('../images/emergency_arrow.png');
  width: 36px;
  height: 52px;
}

.emergency-wrapper-black {
  position: absolute;
  background-image: url('../images/emergency_wrapper_black.png');
  width: 125px;
  height: 100%;
  float: left;
}

/*******Banners Block*******/
#block-extension_settings-12 .emergency-banner {
  margin-bottom: 15px;
}

#block-extension_settings-12 .emergency-banners-wrapper {
  margin-top: 10px;
}

/*******Calendar Block*******/
#block-extension_settings-8 .teaser {
  border: none;
  padding: 0 !important;
}

#block-extension_settings-8 .title {
  padding-bottom: 0;
  margin-bottom: 0;
}

#block-extension_settings-8 .rss {
  float: right;
  margin-top: -25px;
}

#block-extension_settings-8 .event {
  margin-top: 10px;
}

#block-extension_settings-8 .description {
  margin-left: 10px;
}

#block-extension_settings-8 .event-title a {
  font-weight: bold !important;
}

#block-extension_settings-8 .date {
  color: #606060;
  font-weight: bold;
}

#block-extension_settings-8 .view-more {
  float: right;
}