#block-extension_settings-5 {
  width: auto !important;
  padding-left: 130px;
}
#block-extension_settings-5 .inner .content,
#block-extension_settings-5 .inner .content a {
  color: #cccccc !important;
}

#extension-settings-global-emergency input[type=checkbox],
#extension-settings-global-block2 input[type=checkbox],
#edit-extension-settings-region-1-wrapper input[type=radio],
#edit-extension-settings-region-2-wrapper input[type=radio],
#edit-extension-settings-region-3-wrapper input[type=radio],
#edit-extension-settings-region-4-wrapper input[type=radio],
#edit-extension-settings-region-5-wrapper input[type=radio],
#edit-extension-settings-region-6-wrapper input[type=radio] {
  display:none;
}

#edit-regions-1-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-1-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 0;
  height: 186px;
  width: 152px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-1-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-1-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 421px;

}

#edit-regions-2-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-2-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -162px 0;
  height: 195px;
  width: 138px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-2-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-2-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -162px 421px;

}

#edit-regions-3-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-3-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -310px 0;
  height: 179px;
  width: 209px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-3-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-3-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -310px 421px;

}

#edit-regions-4-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-4-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 -222px;
  height: 199px;
  width: 178px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-4-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-4-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0px 199px;

}

#edit-regions-5-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-5-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -188px -280px;
  height: 141px;
  width: 184px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-5-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-5-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -188px -711px;

}

#edit-regions-6-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-6-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -382px -205px;
  height: 216px;
  width: 186px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-6-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-6-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -382px -636px;

}

#oregon-region .form-radios,
#extension-settings-global-emergency .form-checkboxes,
#extension-settings-global-block2 .form-checkboxes {
  position: relative;
  height: 400px;
  width: 510px;
}

#extension-settings-global-emergency .checkbox-label,
#extension-settings-global-block2 .checkbox-label,
#extension-settings-admin-settings .radio-label {
  text-indent: -9999em;
}

#edit-regions-1-wrapper,
#edit-extension-settings-region-1-wrapper {
  position: absolute;
  top: 0;
  left: 30px;
}

#edit-regions-2-wrapper,
#edit-extension-settings-region-2-wrapper {
  position: absolute;
  top: 42px;
  left: 163px;
}

#edit-regions-3-wrapper,
#edit-extension-settings-region-3-wrapper {
  position: absolute;
  top: 24px;
  left: 280px;
}

#edit-regions-4-wrapper,
#edit-extension-settings-region-4-wrapper {
  position: absolute;
  top: 178px;
  left: 0;
}

#edit-regions-5-wrapper,
#edit-extension-settings-region-5-wrapper{
  position: absolute;
  top: 236px;
  left: 144px;
}

#edit-regions-6-wrapper,
#edit-extension-settings-region-6-wrapper {
  position: absolute;
  top: 161px;
  left: 286px;
}

/*******Emergency Information Block*******/
.emergency-wrapper {
  position: relative;
  border: 1px solid #000;
  width: 600px;
  min-height: 52px;
  margin-left: 10px;
  background-color: #ffa200;
}

.site-type-0 .emergency-wrapper {
  width: 550px;
}

.emergency-info-label {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -16px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: sans-serif;
  color: #ffa200;
}

.emergency-info {
  margin: 7px 7px 7px 158px;
  word-wrap: break-word;
  color: #000;
}

.emergency-info p {
  margin: 0 0 5px 0;
}

.emergency-arrow {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  left: 114px;
  background-image: url('../images/emergency_arrow.png');
  width: 36px;
  height: 52px;
}

.emergency-wrapper-black {
  position: absolute;
  background-image: url('../images/emergency_wrapper_black.png');
  width: 125px;
  height: 100%;
  float: left;
  left: 0;
}

.emergency-wrapper h2 {
  color: #7b0000;
  margin: 0;
}

.emergency-wrapper a,
.emergency-wrapper a:visited {
  color: #7b0000;
}

.emergency-wrapper .emergency {
  margin-top: 10px;
}

.emergency-wrapper .emergency-0 {
  margin-top: 0;
}

/*******Banners Block*******/
#block-extension_settings-12 .emergency-banner {
  margin-bottom: 15px;
}

#block-extension_settings-12 .emergency-banners-wrapper {
  margin-top: 10px;
}

/*******Banners Block Configuration Page*******/
#extension-banners-table th.banner-display {
  width: 75px;
}

#extension-banners-table .tabledrag-handle,
#extension-banners-table #edit-display1-wrapper,
#extension-banners-table #edit-display2-wrapper,
#extension-banners-table #edit-display3-wrapper {
  margin-top: 15px;
}

#extension-settings-banners .help-text {
  margin-bottom: 10px;
}

/*******Calendar Block*******/
#block-extension_settings-1,
#block-extension_settings-2,
#block-extension_settings-3,
#block-extension_settings-4 {
  border-top: 1px dotted #999;
  padding-top: 15px;
}

#block-extension_settings-1 .teaser,
#block-extension_settings-2 .teaser,
#block-extension_settings-3 .teaser,
#block-extension_settings-4 .teaser {
  border: none;
  padding: 0 !important;
}

#block-extension_settings-1 .title,
#block-extension_settings-2 .title,
#block-extension_settings-3 .title,
#block-extension_settings-4 .title {
  padding-bottom: 0;
  margin-bottom: 0;
}

#block-extension_settings-1 .rss,
#block-extension_settings-2 .rss,
#block-extension_settings-3 .rss,
#block-extension_settings-4 .rss {
  float: right;
  margin-top: -25px;
}

#block-extension_settings-1 .event,
#block-extension_settings-2 .event,
#block-extension_settings-3 .event,
#block-extension_settings-4 .event {
  margin-top: 10px;
}

#block-extension_settings-1 .description,
#block-extension_settings-2 .description,
#block-extension_settings-3 .description,
#block-extension_settings-4 .description {
  margin-left: 10px;
}

#block-extension_settings-1 .event-title a,
#block-extension_settings-2 .event-title a,
#block-extension_settings-3 .event-title a,
#block-extension_settings-4 .event-title a {
  font-weight: bold !important;
}

#block-extension_settings-1 .date,
#block-extension_settings-2 .date,
#block-extension_settings-3 .date,
#block-extension_settings-4 .date {
  color: #606060;
  font-weight: bold;
}

#block-extension_settings-1 .view-more,
#block-extension_settings-2 .view-more,
#block-extension_settings-3 .view-more,
#block-extension_settings-4 .view-more {
  float: right;
}

#extension-calendar-lightbox {
  float: left;
  text-align: left;
  margin: 30px;
}

#extension-calendar-lightbox .content_box {
  width: 100%;
  overflow: hidden;
}

#extension-calendar-lightbox p,
#extension-calendar-lightbox div {
  line-height: 140%;
}

#extension-calendar-lightbox .column-left {
  float: left;
  width: 150px;
  font-weight: bold;
}

#extension-calendar-lightbox .table {
  line-height: 1.5em;
  margin: 20px 0 20px 10px;
}

#extension-calendar-lightbox #event_view_description {
  margin-top: 5px;
}

#extension-calendar-lightbox ul {
  margin-top: 5px;
}

#block-extension_settings-13 ul {
  margin-bottom: 10px;
}

/*******Calendar Admin*******/
#extension-settings-admin-settings .calendars .fieldset {
  float: left;
  width: 24%;
  margin: 0 0.5%
}

/*******Header Top Menu Admin*******/
form#extension-settings-header-menu .add-new #edit-title-wrapper,
form#extension-settings-header-menu .add-new #edit-href-wrapper {
  width: 49%;
}

form#extension-settings-header-menu .add-new #edit-title-wrapper {
  float: left;
}

form#extension-settings-header-menu .add-new #edit-href-wrapper {
  margin-left: 50%
}