#extension-settings-global-block1 input[type=checkbox],
#extension-settings-global-block2 input[type=checkbox],
#edit-extension-settings-region-1-wrapper input[type=radio],
#edit-extension-settings-region-2-wrapper input[type=radio],
#edit-extension-settings-region-3-wrapper input[type=radio],
#edit-extension-settings-region-4-wrapper input[type=radio],
#edit-extension-settings-region-5-wrapper input[type=radio],
#edit-extension-settings-region-6-wrapper input[type=radio] {
  display:none;
}


#edit-regions-1-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-1 + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 0;
  height: 186px;
  width: 152px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-1-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-1:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 421px;

}

#edit-regions-2-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-2-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -162px 0;
  height: 195px;
  width: 138px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-2-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-2-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -162px 421px;

}

#edit-regions-3-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-3-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -310px 0;
  height: 179px;
  width: 209px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-3-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-3-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -310px 421px;

}

#edit-regions-4-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-4-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0 -222px;
  height: 199px;
  width: 178px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-4-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-4-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: 0px 199px;

}

#edit-regions-5-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-5-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -188px -280px;
  height: 141px;
  width: 184px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-5-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-5-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -188px -711px;

}

#edit-regions-6-wrapper input[type=checkbox] + span,
#edit-extension-settings-region-6-wrapper input[type=radio] + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -382px -205px;
  height: 216px;
  width: 186px;
  display:inline-block;
  padding: 0;
  cursor: pointer;
}

#edit-regions-6-wrapper input[type=checkbox]:checked + span,
#edit-extension-settings-region-6-wrapper input[type=radio]:checked + span {
  background-image: url('../images/oregon_exploded.png');
  background-position: -382px -636px;

}

#oregon-region .form-radios,
#extension-settings-global-block1 .form-checkboxes,
#extension-settings-global-block2 .form-checkboxes {
  position: relative;
  height: 400px;
  width: 510px;
}

#extension-settings-global-block1 .checkbox-label,
#extension-settings-global-block2 .checkbox-label,
#extension-settings-admin-settings .radio-label {
  text-indent: -9999em;
}

#edit-regions-1-wrapper,
#edit-extension-settings-region-1-wrapper {
  position: absolute;
  top: 0;
  left: 30px;
}

#edit-regions-2-wrapper,
#edit-extension-settings-region-2-wrapper {
  position: absolute;
  top: 42px;
  left: 163px;
}

#edit-regions-3-wrapper,
#edit-extension-settings-region-3-wrapper {
  position: absolute;
  top: 24px;
  left: 280px;
}

#edit-regions-4-wrapper,
#edit-extension-settings-region-4-wrapper {
  position: absolute;
  top: 178px;
  left: 0;
}

#edit-regions-5-wrapper,
#edit-extension-settings-region-5-wrapper{
  position: absolute;
  top: 236px;
  left: 144px;
}

#edit-regions-6-wrapper,
#edit-extension-settings-region-6-wrapper {
  position: absolute;
  top: 161px;
  left: 286px;
}